<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Job Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div id="masthead"></div>

    <div id="app">

      <div class="input-group-mb3">
        <input
          v-model="query"
          type="text"
          class="form-control"
          id="job-search"
          :placeholder="placeholder"
        >
      </div>

      <typeahead
        source="http://api.dataatwork.org/v1/jobs/autocomplete/"
        placeholder="Enter a job would like to search for..."
        filter-key="contains"
        :start-at="3"
      >

      <div v-for="item in filtered">
        <p> {{ item.suggestion }} </p>
      </div>

      <p v-show="isEmpty">Sorry, but we can't find any match for given term :(</p>

    </typeahead>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script type="text/javascript" src="get-data.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

  <!-- <transition-group name="fade" tag="ul" class="Results">
    <li v-for="job in filtered" :key="job">
      <span>
        <strong>{{ job.title }}</strong> - <small>{{ job.uuid }}</small><br>
      </span>
    </li>
  </transition-group> -->

</html>
